/* Global Variables */
:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
  --Slightly-transparent-white-stat: hsla(
    0,
    0%,
    100%,
    0.6
  ); /* (stat headings) */
}

/* General Styling */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
